<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name = "patternFull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
        <Property name = "patternShort">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>
    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternShort}"/>
        </Console>

        <RollingFile name="rollingFile"
                     fileName="target/logs/log4j2.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFull}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="4 MB" />
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>